@model List<Film>

<!DOCTYPE html>
<html>
<head>
    <title>Films and Seances</title>
</head>
<body>
    <h1>Films</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope ="col">Name</th>
                <th scope ="col">Genre</th>
                <th scope ="col">Description</th>
                <th scope ="col">Release Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var film in Model)
            {
                <tr>
                    <td>@film.Name</td>
                    <td>@film.Genre</td>
                    <td>@film.Description</td>
                    <td>@film.ReleaseDate.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>

    @* <h1>Seances</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Show Time</th>
                <th>Film Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var seans in Model)
            {
                var film = seans.Fi.FirstOrDefault(f => f.Id == seans.FilmId);
                <tr>
                    <td>@seans.ShowTime.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@film?.Name</td>
                </tr>
            }
        </tbody>
    </table> *@
</body>
</html>
